
@import "material";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  background: url(https://images.unsplash.com/photo-1508319890484-ddcffe1acbb2?ixlib=rb-0.3.5&s=88f90c9bc8db5df1fb4990f0173b2797&auto=format&fit=crop&w=1834&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-content{
  padding-top: 70px;
}

.pagination{
  background-color:rgba(255, 255, 255, 0.6);
}

.card{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:rgba(255, 255, 255, 0.6);
  .title{
    font-weight: bold;
    border-bottom: 2px solid 	#C0C0C0;
  }
}
// neon

@import url(//fonts.googleapis.com/css?family=Vibur);


.logo {

  width: 30%;
  height: 12vh;

}

.navbar{
  text-align: right;
  background-color:rgba(145, 35, 167, 0.6) !important;
  color: #C0C0C0;
}
.logo b{
  font: 100 10vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #2498B7, 0 0 0.5em #2498B7, 0 0 0.1em #2498B7, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
