<div class="row">
  <div class="col-lg-4">
    <div class="card">
          <div class="card-body">
            <h5 class="card-title">Most Reviewed Item</h5>
            <p class="card-text"<%= @popular_product.name %></p>
          </div>
        </div>
    <h1>Most Reviewed Item</h1>
      <ul>
        <li><%= @popular_product.name %></li>
      </ul>
  </div>
  <div class="col-lg-4">
    <h1>Newest Items</h1>
      <ol>
        <% @recent_products.each do |product| %>
          <li><%= product.name %></li>
        <% end %>
      </ol>
  </div>
  <div class="col-lg-4">
    <h1>Local Items</h1>
    <ol>
      <% @local_products.each do |product| %>
        <li><%= product.name %></li>
      <% end %>
    </ol>
  </div>

</div>
