<h1>Products</h1>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-4">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p><%=product.name %></p>
            <p>$<%=product.cost %></p>
          </div>
          <div class="card-action">
            <%= link_to "More Information", product_path(product) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>

<%= will_paginate @users %>
