<div class="logo"><b>PR<span>OD</span><span>U</span>CT</b></div>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-3">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p class="title"><%=product.name %></p>
            <p>$<%=product.cost %></p>
          </div>
          <div class="card-action">
            <%= link_to "More Information", product_path(product) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>

<div class="fixed-bottom">
  <%= will_paginate @users %>

</div>
